{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Login</title>{% endblock title %}

{% block sidenavebar %}
{% endblock sidenavebar %}

{% block content %}
<div class="tela-login-main">
  <div class="tela-login">
    <img src="{% static "img/logo.png" %}" alt="logo_painel">
    <form method="POST" class="tela-login">
      {% csrf_token %}
      <input placeholder="Email PMRJ" type="text" name="username" autocapitalize="none" autocomplete="username"
        maxlength="150" required="" id="id_username">
      <input placeholder="Senha" type="password" name="password" autocomplete="current-password" required=""
        id="id_password">
      <button type="submit">Entrar</button>
    </form>
    <a href="{% url 'home' %}"> Usuário novo clique aqui </a>
  </div>
  <img src="{% static "img/logo_MP.png" %}" alt="logo_MP">
</div>
{% endblock content %}