{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Mudança de Senha</title>{% endblock title %}

{% block content %}
<div class="tela-login-main">
    <div class="tela-login">
        <img src="{% static "img/logo.png" %}" alt="logo_painel">
        <div class="wrapper-logo"></div>
        <form method="POST" class="tela-login">
            {% csrf_token %}
            <div class="form-row">
                <input placeholder="Senha atual" type="password" name="old_password" autocomplete="current-password"
                    autofocus="" required="" id="id_old_password">
            </div>
            <div class="form-row">
                <input placeholder="Nova senha" type="password" name="new_password1" autocomplete="new-password"
                    required="" id="id_new_password1">
            </div>
            <div class="form-row">
                <input placeholder="Confirmação da nova senha" type="password" name="new_password2"
                    autocomplete="new-password" required="" id="id_new_password2">
                <!-- {% if form.new_password2.help_text %}
                    <div class="help">{{ form.new_password2.help_text|safe }}</div>
                    {% endif %} -->
            </div>
            <div class="submit-row">
                <button type="submit" class="default">Mudar minha senha</button>
            </div>

            <!-- <div class="help-password-change">
            <ul>
                <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                <li>Sua senha não pode ser inteiramente numérica.</li>
            </ul>
            </div> -->
        </form>
    </div>
    <div class="form-errors">
        {% if form.old_password.errors %} {{ form.old_password.errors }} {% endif %}
        {% if form.new_password1.errors %} {{ form.new_password1.errors }} {% endif %}
        {% if form.new_password2.errors %} {{ form.new_password2.errors }} {% endif %}
    </div>
    {% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- <img src="{% static "img/logo-MP.png" %}" alt="logo_MP"> -->
</div>
{% endblock content %}