.tela-login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tela-login-main img {
    margin-top: 30px ;
}
.tela-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F8F8F8;
    width: 548px;
    height: 500px;
    margin: 0 auto;
    border-radius: 9px;
    opacity: 1;
    margin-top: 50px;
}
.tela-login img {
    width: 290px;
    height: 68px;
    margin-top: 80px;
}
form input {
    border: 1px solid #f1eeee;
    border-radius: 6px;
    box-sizing: border-box;
    color: #8a8a8a;
    font-family: SFProDisplay-Regular;
    width: 338px;
    height: 45px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 18px 0 18px;
}

form button {
    width: 338px;
    height: 45px;
    border-radius: 6px;
    border: 1px solid #f1eeee;
    text-transform: uppercase;
    background-color: #bebdbd;
    color: #111111;
}
form button:hover {
    background-color: #3133af;
    color: #F8F8F8;
    border-radius: 6px;
}
