body{
  margin: 0;
  padding: 0;
}
.main-page{
  display: grid;
  height: 100%;
  grid-template-areas:
  'navBar pageForm pageForm pageForm pageForm pageForm'
}
.navbarLeft{
  text-align: center;
  background-color: #F8F8F8;
  box-shadow: 0px 3px 10px #0000001A;
  opacity: 1;
  grid-area: navBar;
  width: 260px;
  height: 100%;
  position:relative; 
}

#progressbar{
  background-color: #E5E5E5;
}
.progressbar-text{
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  margin-top: 32px;
  color: #707070;
  font-family: Nunito,Regular;
  max-width: 100vh;
}
progress::-moz-progress-bar {
  background: #0055FF;
}
progress::-webkit-progress-value { 
  background: #0055FF;
}
progress { 
  color: #0055FF;
}

progress[value]{
  width: 100vh;
  height: 7px;
  background-color: #0055FF;
}

.navbarLeft-img-logo{
  width: 210px;
  height: 50px;
  padding-top: 30px;
}
.navbarLeft ul li{
  list-style: none;
  text-align: left;
  font-size: 23px;
  color: #707070;
  margin-top: 60px;
  margin-left: 2px ;
}
.navbarLeft ul {
  margin-top: 40px;
  margin-left: -17px;
}
.navbarLeft-list img{
  height: 35px;
  width: 30px;
}
.navbarLeft ul li:hover{
  color: #0676ED;
  font-size: 23px;
}
.operation-form{
  grid-area: pageForm;
}
.main-page-form{
  margin: 80px;
  box-shadow: 0px 5px 6px #00000029;
  border-radius: 9px;
  opacity: 1;
}
.header-form{
  background-color: #F8F8F8;
  width: 100%;
  height: 124px;
  border-radius: 9px 9px 0px 0px;
  display: flex;
}
.navbarLeft-list ul a:link { 
  text-decoration: none; 
  color: #707070 !important;
} 
.text-header-form{
  padding: 17px;
  max-width: 200px;
}
.text-header-form p{
  color: #AEAEAE;
  font-size: 14px;
  text-transform: uppercase;
}
.text-header-form span{
  color: #707070;
  font-size: 23px;
}
.form-main {
  margin-top: 30px;
}

.form-main input, select {
  border: 1px solid #0676ED;
  border-radius: 4px;
  box-sizing: border-box;
  color: #8a8a8a;
  font-family: SFProDisplay-Regular;
  width: 300px;
  height: 45px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0 18px 0 18px;
}

.input-type-checked{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.input-type-checked p{
  color: #ED0606;
  font-size: 14px;
  margin-top: 0px;
}
.input-type-checked .form-control{
  display: flex;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.input-type-checked {
  margin-right: 570px;
}
.input-type-checked label{
  font-size: 14px !important;
}
.input-type-checked .form-control input{
  display: flex;
  width: 14px;
  height: 14px;
  margin-left: 10px;
}

.input-disabled {
  background-color:#CBCDCB !important;
}

.btns-forms{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns-forms button{
  border-radius: 12px;
  width: 224px;
  height: 47px;
  margin-bottom: -12px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}
.btn-next{
  background-color: #0676ED;
  color: #FFFFFF;
  border: solid 1px #0676ED;
  cursor: pointer;

}
.btn-previus{
  background-color: #FFFFFF;
  color: #0676ED;
  border: solid 1px #0676ED;
}
label {
  align-items: center;
  color: #8F9BB3;
  display: flex;
  font-family: Helvetica Neue regular;
  font-size: 12px;
}
.box-form-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;

}
.box-form-group h3{
  color: #707070;
  font-family: Nunito,Regular;
}
.box-form-info-operation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box-logo-mp{
  position:absolute;
  bottom: 30px; 
  margin-left: 10px;
}
.error-message{
  color: #ED0606;
  font-size: 14px;
  margin-top: 0px;
}
.tela-login-main a:link{
  margin-bottom: 40px;
}
.tela-login-main a:link:hover{
  color:red
}
.page-final-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.page-final-cadastro img {
  margin-bottom: 50px;
  margin-top: 30px;
}
.page-final-cadastro span {
  color:#707070;
  font-family: Roboto;
  font-weight: bold;
  font-size: 35px;
}
.page-final-cadastro p {
  color:#707070;
  font-family: Roboto;
  font-weight: 400;
  font-size: 22px;
  max-width: 650px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pagination ul{
  display: flex;
  max-width: 400px;
}
ul.pagination li{
  list-style: none;
}

ul.pagination li a, span {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
ul.pagination span {
  margin: 0;
}

.pagination li:first-child a, span {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination li:last-child a, span{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul.pagination li a:hover{
  background-color: #0055FF;
  color: #E5E5E5;
}
.sr-only {
  display: none;
}