body{
  margin: 0;
  padding: 0;
}
.main-page{
  display: grid;
  grid-template-areas:
  'navBar pageForm pageForm pageForm pageForm pageForm'
}
.navbarLeft{
  text-align: center;
  background-color: #F8F8F8;
  box-shadow: 0px 3px 10px #0000001A;
  opacity: 1;
  grid-area: navBar;
  width: 250px;
}
.navbarLeft p{
  color: #8F9BB3;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.navbarLeft span{
  color: #707070;
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.navbarLeft ul li{
  list-style: none;
  text-align: left;
  font-family: 'Nunito',;
  color: #707070;
  font-size: 25px;
  height: 80px;
}
.navbarLeft-list {
  width: 100%;
}
.navbarLeft ul {
  margin-top: 40px;
}
.navbarLeft ul li:hover{
  color: #0676ED;
  border-left: solid 2px #0676ED ;
}
.operation-form{
  grid-area: pageForm;
}
.main-page-form{
  margin: 80px;
  box-shadow: 0px 5px 6px #00000029;
  border-radius: 9px;
  opacity: 1;
}
.header-form{
  background-color: #F8F8F8;
  width: 100%;
  height: 124px;
  border-radius: 9px 9px 0px 0px;
  display: flex;
}
.text-header-form{
  padding: 20px;
}
.text-header-form p{
  color: #AEAEAE;
  font-size: 22px;
}
.text-header-form span{
  color: #707070;
  font-size: 23px;
}
.text-header-form p{
  color: #AEAEAE;
  font-size: 22px;
}
.form-main {
  margin-top: 30px;
}
.input-operation{
  display: flex !important;
}
.input-operation input{
  width: 412px !important; 
  margin-left: 30px;
  margin-right: 20px;

}
.input-operation label{
  margin-left: 30px;

}
.form-main input, select {
  border: 1px solid #0676ED;
  border-radius: 4px;
  box-sizing: border-box;
  color: #8a8a8a;
  font-family: SFProDisplay-Regular;
  width: 236px;
  height: 45px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0 18px 0 18px;
}
.btns-forms{
  display: flex;
  justify-content: space-around;
}
.btns-forms button{
  border-radius: 12px;
  width: 224px;
  height: 47px;
}
.btn-next{
  background-color: #0676ED;
  color: #FFFFFF;
  border: solid 1px #0676ED;

}
.btn-previus{
  background-color: #FFFFFF;
  color: #0676ED;
  border: solid 1px #0676ED;
}
label {
  align-items: center;
  color: #8F9BB3;
  display: flex;
  font-family: Helvetica Neue regular;
  font-size: 16px;
}
.box-form-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.box-form-group h3{
  color: #707070;
  font-family: Nunito,Regular;
}
.box-form-info-operation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
