{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro de Operaçãoes</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
  <div class="main-page-form">
    <div class="header-form">
      <div class="text-header-form">
        <span>Cadastro de Operações</span>
        <p>Informações Operacionais</p>
      </div>
      <div id="progressbar"></div>
    </div>
    <div class="form-main">
      <form action="/" id="wrapped" method="post" enctype="multipart/form-data">
        <div class="box-form-group">
          <div class="">
            <label for="name">Unidade operacional responsável</label>
            <input type="text" id="date" name="">
          </div>
          <div class="styled-select">
            <label>Recebeu apoio de outras unidades, Qual ?</label>
            <select class="form-control required" id="municipio" name="municipio">
              <option value="rio de janeiro">Rio de Janeiro</option>
              <option value="niterói">Niterói</option>
              <option value="são gonçalo">São Gonçalo</option>
            </select>
          </div>
        </div>
        <div class="box-form-group">
          <div class="styled-select">
            <label>Unidade Apoiadora</label>
            <input type="text" id="date" name="">
          </div>
          <div class="form-group">
            <label>Nome do Comandante</label>
            <div class="styled-select">
              <select class="form-control required" id="posto_comandante" name="posto_comandante">
                <option value="coronel">Coronel</option>
                <option value="major">Major</option>
                <option value="capitão">Capitão</option>
              </select>
            </div>
          </div>
        </div>
        <div class="box-form-group">
          <div class="form-group">
            <label>RG PM Comandante </label>
            <input type="text" name="endereco_referencia" id="endereco_referencia" class="form-control required">
          </div>
          <div class="form-group">
            <label>Posto/graduação do comandante </label>
            <input type="text" name="endereco_referencia" id="endereco_referencia" class="form-control required">
          </div>
        </div>
        <div class="box-form-group">
          <div class="form-group">
            <label for="fname">Tipo de operação</label>
            <div class="styled-select">
              <select class="form-control required" id="posto_comandante" name="posto_comandante">
                <option value="coronel">Planejada</option>
                <option value="major">Emergencial</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Tipo de ação repressiva</label>
            <select class="form-control required" id="posto_comandante" name="posto_comandante">
              <option value="AREP I">AREP I</option>
              <option value="major">AREP II</option>
              <option value="major">AREP III</option>
              <option value="major">AREP IV </option>
            </select>
          </div>
        </div>
        <div class="box-form-group">
          <div class="form-group">
            <label for="fname">Objetivo estratégico da Operação </label>
            <div class="styled-select">
              <select class="form-control required" id="posto_comandante" name="posto_comandante">
                <option value="coronel">Planejada</option>
                <option value="major">Emergencial</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Código de Guarnições mobilizadas</label>
            <input type="text" name="endereco_referencia" id="endereco_referencia" class="form-control required">
          </div>
        </div>
        <div class="box-form-group">
          <div class="form-group">
            <label>Número de Policiais mobilizados </label>
            <input style="width: 750px" type="text" name="" id="" class="form-control required">
          </div>
        </div>
      </form>
      <div class="btns-forms">
        <div class="btns-forms">
          <a href="{% url 'operations:form' %}">
            <button type="submit" class="btn-previus">Anterior</button>
          </a>
        </div>
        <a href="{% url 'operations:form-info-result' %}">
          <button type="submit" class="btn-next">Proxímo</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}