{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro de Operaçãoes</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
  <div class="main-page-form">
    <div class="header-form">
      <div class="text-header-form">
        <span>Cadastro de Operações</span>
        <p>Informações Gerais</p>
      </div>
      <div id="progressbar"></div>
    </div>
    <div class="form-main">
      <form action="/" id="wrapped" method="post" enctype="multipart/form-data">
        <div class="box-form-group">
          <div class="">
            <label for="name">Data da operação </label>
            <input type="date" id="date" name="" required>
          </div>
          <div class="styled-select">
            <label>Hora da operação </label>
            <input type="time" id="time" name="" required>
          </div>
        </div>
        <div class="box-form-group">
          <div class="styled-select">
            <label>Localidade</label>
            <input type="text" id="localidade_operacao" name="localidade_operacao" required>
          </div>
          <div class="form-group">
            <label>Município da Operação </label>
            <div class="styled-select">
              <select
                  class="form-control required"
                  id="municipio_operacao"
                  name="municipio_operacao"
                  onchange="getBairros(this); getBatalhoes(this);">
                  {% for municipio in municipios %}
                      <option value="{{ municipio.nm_mun }}">{{ municipio.nm_mun}}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="box-form-group">
          <div class="form-group">
            <label>Endereço de Referência</label>
            <input type="text" name="endereco_referencia" id="endereco_referencia" class="form-control required"
              onchange="getVals(this, 'email_field');">
          </div>
          <div class="styled-select">
            <label>Bairro da operação </label>
            <select class="form-control required" id="bairro_operacao" name="bairro_operacao">
                {% for bairro in bairros %}
                    <option value="{{ bairro.bairro_id}}">{{ bairro.bairro}}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="box-form-group">
          <div class="">
            <label for="name">Mapa interativo para seleção do local</label>
            <input type="text" id="mapaa_interativo" name="mapa_interativo" placeholder="">
          </div>
          <div class="styled-select">
            <label>Batalhão Responsável</label>
            <select class="form-control required" id="batalhao_operacao" name="batalhao_operacao">
                {% for batalhao in batalhoes %}
                    <option value="{{ batalhao.id}}">{{batalhao.bpm}}</option>
                {% endfor %}
            </select>
          </div>
        </div>
      </form>
      <div class="btns-forms">
        <a href="{% url 'operations:form-info-operation' %}">
          <button type="submit" class="btn-next">Próximo</button>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
      <script src="{% static 'js/informacoes_gerais.js' %}"></script>
{% endblock extra_js %}