{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro de Operaçãoes</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
  <div class="main-page-form">
    <div class="header-form">
      <div class="text-header-form">
        <span>Cadastro de Operações</span>
        <p>Informações Operacionais 1/2</p>
      </div>
      <div>
        <div class="progressbar-text">
        <p>Informações Gerais</p>
        <p>Informações Operacionais parte 1</p>
        <p>Informações Operacionais parte 2</p>
        <p>Informações de Resultado</p>
        <p>Informações da Ocorrência parte 1</p>
        <p>Informações da Ocorrência parte 2</p>
        </div>
        <progress  max="100" value="20" id="progressbar"></progress>
        <ul class="progressbar">
            <li class="progressbar-checked"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
      </div>
    </div>
    <div class="form-main">
      <form action="/" id="main-form"  method="post" enctype="multipart/form-data">
        <input type="hidden" id="form_uuid" value="{{ form_uuid }}">
        <div class="box-form-group">
          <div class="">
            <label for="name">Unidade operacional responsável</label>
            <input type="text" value="{{ operacao_info.unidade_responsavel|default:'' }}" id="unidade_operacional_responsavel" name="unidade_operacional_responsavel" required>
          </div>
          <div class="">
            <label for="name">Recebeu apoio de outras unidades, Qual ?</label>
            <input type="text" value="{{ operacao_info.unidade_apoiadora|default:'' }}" id="unidade_apoiadora" name="unidade_apoiadora">
          </div>
        </div>
        <div class="box-form-group">
          <div class="form-group">
            <label for="name">Nome Comandante da Operação</label>
            <input type="text" value="{{ operacao_info.nome_comandante_operacao|default:'' }}" id="nome_comandante_operacao" name="nome_comandante_operacao" required>
          </div>
          <div class="form-group">
          <div class="">
            <label>RG PM Comandante </label>
            <input type="text" value="{{ operacao_info.rg_pm_comandante_operacao|default:'' }}" name="rg_pm_comandante_operacao" id="rg_pm_comandante_operacao" required>
          </div>
          </div>
        </div>
        <div class="box-form-group">
          <div class="form-group">
            <label>Posto/graduação do comandante </label>
            <div class="styled-select">
              <select class="form-control required" id="posto_comandante_operacao" name="posto_comandante_operacao" required>
                  <option value="">-</option>
                {% for posto in postos_comandante %}
                <option value="{{ posto.0 }}" {% if posto.0 == operacao_info.posto_comandante_operacao %} selected {% endif %}>{{ posto.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </form>
      <div class="btns-forms">
        <div class="btns-forms">
          <a href="{% url 'operations:form-update' form_uuid %}">
            <button type="submit" class="btn-previus">Anterior</button>
          </a>
        </div>
          <button type="submit" class="btn-next" onclick="submitFormInfo(event)">Proxímo</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
const FORWARD_URL = '/operacoes/cadastro/informacoes/operacionais/parte-2/';
const API_URL = '/v1/operacoes/cria-informacoes-operacionais-parte-1/';
const FORM_VAR_LIST = {
    "unidade_responsavel": "#unidade_operacional_responsavel",
    "unidade_apoiadora": "#unidade_apoiadora",
    "nome_comandante_operacao": "#nome_comandante_operacao",
    "rg_pm_comandante_operacao": "#rg_pm_comandante_operacao",
    "posto_comandante_operacao": "#posto_comandante_operacao"
};

</script>
{% endblock extra_js %}