{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro de Operaçãoes</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
  <div class="main-page-form">
    <div class="header-form">
      <div class="text-header-form">
        <span>Cadastro de Operações</span>
        <p>Informações Operacionais</p>
      </div>
      <div id="progressbar"></div>
    </div>
    <div class="form-main">
      <form action="/" id="wrapped" method="post" enctype="multipart/form-data">
        <input type="hidden" value="{{ form_uuid }}">
        <div class="box-form-group">
          <div class="">
            <label for="name">Unidade operacional responsável</label>
            <input type="text" id="unidade_operacional_responsavel" name="unidade_operacional_responsavel">
          </div>
          <div class="">
            <label for="name">Recebeu apoio de outras unidades, Qual ?</label>
            <input type="text" id="apoio_unidade" name="apoio_unidade">
          </div>
        </div>
        <div class="box-form-group">
          <div class="form-group">
            <label>Número de Policiais mobilizados </label>
            <input type="text" name="" id="" class="form-control required">
          </div>
          <div class="form-group">
          <div class="">
            <label for="name">Nome Comandante da Operação</label>
            <input type="text" id="nome_comandante_operacao" name="nome_comandante_operacao">
          </div>
          </div>
        </div>
        <div class="box-form-group">
          <div class="form-group">
            <label>RG PM Comandante </label>
            <input type="text" name="rg_pm_comandante_operacao" id="rg_pm_comandante_operacao" class="form-control required">
          </div>
          <div class="form-group">
            <label>Posto/graduação do comandante </label>
            <div class="styled-select">
              <select class="form-control required" id="posto_comandante" name="posto_comandante">
                {% for posto in postos_comandante %}
                    <option value="{{ posto.0 }}">{{ posto.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      <div class="btns-forms">
        <div class="btns-forms">
          <a href="{% url 'operations:form-update' form_uuid %}">
            <button type="submit" class="btn-previus">Anterior</button>
          </a>
        </div>
        <a href="{% url 'operations:form-info-operation-second' %}">
          <button type="submit" class="btn-next">Proxímo</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}