{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro de Operaçãoes</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
    <div class="main-page-form">
        <div class="header-form">
            <div class="text-header-form">
                <span>Cadastro de Operações</span>
                <p>Informações da Ocorrência 2/2</p>
            </div>
            <div>
                <div class="progressbar-text">
                <p>Informações Gerais</p>
                <p>ADPF 635</p>
                <p>Informações Operacionais 1/1</p>
                <p>Informações Operacionais 1/2</p>
                <p>Informações de Resultado</p>
                <p>Informações da Ocorrência 1/1</p>
                <p>Informações da Ocorrência 1/2</p>
                <p>Observações Gerais</p>
                <p>Finalizar cadastro</p>
                </div>
                <progress  max="100" value="80" id="progressbar"></progress>
                <ul class="progressbar">
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
              </div>
        </div>
        <div class="form-main">
            <form action="/" id="main-form" method="post" enctype="multipart/form-data">
              <input type="hidden" id="form_uuid" value="{{ form_uuid }}" >
              <div class="box-form-group">
                <div class="">
                    <label for="data">Número de policiais feridos</label>
                    <input type="number" min="0" name="numero_policiais_feridos" id="numero_policiais_feridos"
                     class="form-control" value="{{ operacao_info.numero_policiais_feridos|default:'' }}" required>
                </div>
                <div class="">
                    <label for="data">Número de mortes policiais</label>
                    <input type="number" min="0" name="numero_mortes_policiais" id="numero_mortes_policiais"
                     class="form-control" value="{{ operacao_info.numero_mortes_policiais|default:'' }}" required>
                </div>
            </div>
            <div class="box-form-group">
                <div class="">
                    <label for="data">Número de civis feridos</label>
                    <input type="number" min="0" name="numero_civis_feridos" id="numero_civis_feridos"
                     class="form-control" value="{{ operacao_info.numero_civis_feridos|default:'' }}" required>
                </div>
                <div class="">
                    <label for="data">Nº de civis mortos – morte não provocada por agente policiais </label>
                    <input type="number" min="0" name="numero_civis_mortos_npap" id="numero_civis_mortos_npap"
                     class="form-control" value="{{ operacao_info.numero_civis_mortos_npap|default:'' }}" required>
                </div>
            </div>
            <div class="box-form-group">
                <div class="">
                    <label for="data">Número de mortes por intervenção de agentes do Estado</label>
                    <input
                        type="number" min="0" name="numero_mortes_interv_estado" id="numero_mortes_interv_estado"
                         class="form-control" value="{{ operacao_info.numero_mortes_interv_estado|default:'' }}" required>
                </div>
                <div class="">
                    <label for="data">Número de adolescentes apreendidos</label>
                    <input
                        type="number" min="0"
                        name="numero_adolescentes_apreendidos"
                        id="numero_adolescentes_apreendidos"
                        class="form-control" value="{{ operacao_info.numero_adolescentes_apreendidos|default:'' }}" required>
                </div>
            </div>
            <div class="box-form-group">
                <div class="">
                    <label for="data">Número de veículos recuperados</label>
                    <input
                        type="number" min="0" name="numero_veiculos_recuperados" id="numero_veiculos_recuperados"
                        class="form-control" value="{{ operacao_info.numero_veiculos_recuperados|default:'' }}" required>
                </div>
            </div>
                <div class="btns-forms" style="margin-left: 300px;">
                    <button type="submit" class="btn-next" onclick="submitFormInfo(event);">Próximo</button>
                </div>
            </form>
            <div class="btns-forms" style="margin-right: 300px; margin-top: -80px;">
                <a href="{% url 'operations:form-info-ocurrence-page-one' form_uuid %}">
                    <button type="submit" class="btn-previus">Anterior</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
const FORWARD_URL = '/operacoes/cadastro/completo/';
const API_URL = '/v1/operacoes/cria-informacoes-ocorrencia-parte-2/';
const FORM_VAR_LIST ={
    "numero_policiais_feridos": "#numero_policiais_feridos",
    "numero_mortes_policiais": "#numero_mortes_policiais",
    "numero_mortes_interv_estado": "#numero_mortes_interv_estado",
    "numero_civis_feridos": "#numero_civis_feridos",
    "numero_civis_mortos_npap": "#numero_civis_mortos_npap",
    "numero_veiculos_recuperados": "#numero_veiculos_recuperados",
    "numero_adolescentes_apreendidos": "#numero_adolescentes_apreendidos",
}
</script>

{% endblock extra_js %}