{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro Completo</title>
{% endblock title %}

{% block content %}
<div class="page-final-cadastro">
    <img src="{% static "img/logo.png" %}" alt="logo_painel">
    <span>Dados cadastrados com sucesso!</span>
    <p>Caso seja necessário adicionar ou alterar algum tipo de informação, é possível realizar essa tarefa abrindo o formulário na lista de operações no menu ao lado. Abaixo, é possível baixar um arquivo em PDF ou Imprimir o RO preenchido:</p>
</div>
{% endblock content %}
