{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro Completo</title>
{% endblock title %}

{% block content %}
<div class="main-page-form">
    <div class="header-form">
        <div class="text-header-form">
            <span>Cadastro de Operações</span>
            <p>Finalização do cadastro</p>
        </div>
        <div>
            <div class="progressbar-text">
                <p>Informações Gerais</p>
                <p>Informações Operacionais 1/1</p>
                <p>Informações Operacionais 1/2</p>
                <p>Informações de Resultado</p>
                <p>Informações da Ocorrência 1/1</p>
                <p>Informações da Ocorrência 1/2</p>
                <p>Finalizar cadastro</p>
            </div>
            <progress max="100" value="100" id="progressbar"></progress>
            <ul class="progressbar">
                <li class="progressbar-checked"></li>
                <li class="progressbar-checked"></li>
                <li class="progressbar-checked"></li>
                <li class="progressbar-checked"></li>
                <li class="progressbar-checked"></li>
                <li class="progressbar-checked"></li>
                <li class="progressbar-checked"></li>
            </ul>
        </div>
    </div>
    <div class="page-final-cadastro">
        <img src="{% static "img/icon-checked.png" %}" alt="icon-checked">
        <span>Dados cadastrados com sucesso!</span>
        <p>Caso seja necessário adicionar ou alterar algum tipo de informação, é possível realizar essa tarefa abrindo o
            formulário na lista de operações no menu ao lado.</p>
        <div class="btns-forms">
            <div class="btns-forms">
                <a href="{% url 'home' %}">
                    <button type="submit" class="btn-previus">Página inicial</button>
                </a>
            </div>
            <div class="btns-forms">
                <a href="{% url 'operations:form' %}">
                    <button type="submit" class="btn-next">Cadastrar nova operação +</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}