{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro de Operaçãoes</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
    <div class="main-page-form">
        <div class="header-form">
            <div class="text-header-form">
                <span>Cadastro de Operações</span>
                <p>Informações da Ocorrência Parte 1</p>
            </div>
            <div>
                <div class="progressbar-text">
                <p>Informações Gerais</p>
                <p>Informações Operacionais parte 1</p>
                <p>Informações Operacionais parte 2</p>
                <p>Informações de Resultado</p>
                <p>Informações da Ocorrência parte 1</p>
                <p>Informações da Ocorrência parte 2</p>
                </div>
                <progress  max="100" value="80" id="progressbar"></progress>
                <ul class="progressbar">
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="form-main">
            <form action="/" id="wrapped" method="post" enctype="multipart/form-data">
              <input type="hidden" id="form_uuid" value="{{ form_uuid }}" >
                <div class="box-form-group">
                    <div class="">
                        <label for="data">Boletim de Ocorrência da Polícia Militar (BOPM) </label>
                        <input type="text" name="boletim_ocorrencia_pm" id="boletim_ocorrencia_pm"
                            class="form-control" required>
                    </div>
                    <div class="">
                        <label for="data">Registro de Ocorrência</label>
                        <input type="text" name="registro_ocorrencia" id="registro_ocorrencia"
                            class="form-control" required>
                    </div>
                </div>
                <div class="box-form-group">
                    <div class="">
                        <label for="data">Nome do Comandante</label>
                        <input type="text" name="nome_comandante_ocorrencia" id="nome_comandante_ocorrencia"
                            class="form-control" required>
                    </div>
                    <div class="">
                        <label for="data">RG PM do Comandante</label>
                        <input type="text" name="rg_pm_comandante_ocorrencia" id="rg_pm_comandante_ocorrencia"
                            class="form-control" required>
                    </div>
                </div>
                <div class="box-form-group">
                    <div class="">
                        <label for="data">Houve apreensão de Drogas?</label>
                        <input type="text" name="houve_apreensao_drogas" id="houve_apreensao_drogas"
                            class="form-control" required>
                    </div>
                    <div class="">
                        <label for="data">Número de fuzis apreendidos </label>
                        <input type="number" min="0" name="numero_fuzis_apreendidos" id="numero_fuzis_apreendidos"
                            class="form-control" required>
                    </div>
                </div>
                <div class="box-form-group">
                    <div class="">
                        <label for="data">Número de presos</label>
                        <input type="number" min="0" name="numero_presos" id="numero_presos"
                            class="form-control" required>
                    </div>
                    <div class="">
                        <label for="data">Número de adolescentes apreendidos</label>
                        <input type="number" min="0" name="numero_adolescentes_apreendindos" id="numero_adolescentes_apreendindos"
                            class="form-control" required>
                    </div>
                </div>
            </form>
            <div class="btns-forms">
                <div class="btns-forms">
                    <a href="{% url 'operations:form-info-result' form_uuid %}">
                        <button type="submit" class="btn-previus">Anterior</button>
                    </a>
                </div>
                <div class="btns-forms">
                    <a href="{% url 'operations:form-info-ocurrence-page-two' form_uuid %}">
                        <button type="submit" class="btn-next">Próximo</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}