{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro de Operaçãoes</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
  <div class="main-page-form">
    <div class="header-form">
      <div class="text-header-form">
        <span>Cadastro de Operações</span>
        <p>Informações Operacionais 2/2</p>
      </div>
      <div>
        <div class="progressbar-text">
        <p>Informações Gerais</p>
        <p>Informações Operacionais parte 1</p>
        <p>Informações Operacionais parte 2</p>
        <p>Informações de Resultado</p>
        <p>Informações da Ocorrência parte 1</p>
        <p>Informações da Ocorrência parte 2</p>
      </div>
        <progress  max="100" value="40" id="progressbar"></progress>
        <ul class="progressbar">
            <li class="progressbar-checked"></li>
            <li class="progressbar-checked"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
      </div>
    </div>
    <div class="form-main">
      <form action="/" id="main-form" method="post" enctype="multipart/form-data">
        <input type="hidden" id="form_uuid" value="{{ form_uuid }}">
        <div class="box-form-group">
          <div class="form-group">
            <label for="fname">Tipo de operação</label>
            <div class="styled-select">
              <select class="form-control required" id="tipo_operacao" name="tipo_operacao" onchange="toggleOrdemOperacoesField();" required>
                  <option value="">-</option>
                {% for tipo_operacao in tipos_operacoes %}
                <option value="{{ tipo_operacao.0 }}" {% if tipo_operacao.0 == operacao_info.tipo_operacao %}selected{% endif %}>{{ tipo_operacao.1 }}</option>
                {% endfor %}
              </select>
            </div>
            <p>Campo obrigátorio</p>
          </div>
          <div class="form-group">
            <label>Número da ordem de operações</label>
            <input type="text" value="{{ operacao_info.numero_ordem_operacoes|default:'' }}" name="numero_ordem_operacoes" id="numero_ordem_operacoes" class="form-control">
            <p>Campo obrigátorio</p>
          </div>
        </div>
          <div class="box-form-group">
            <div class="form-group">
                <label>Tipo de ação repressiva</label>
                <div class="styled-select">
                <select class="form-control required" id="tipo_acao_repressiva" name="tipo_acao_repressiva" required>
                    <option value="">-</option>
                    {% for tipo_acao_repressiva in tipos_acoes_repressivas %}
                    <option
                        value="{{ tipo_acao_repressiva.0 }}"
                        {% if tipo_acao_repressiva.0 == operacao_info.tipo_acao_repressiva %}selected{% endif %}>
                    {{ tipo_acao_repressiva.1 }}</option>
                    {% endfor %}
                </select>
              </div>
              <p>Campo obrigátorio</p>

          </div>
          <div class="">
            <label>Objetivo Estratégico da Operação</label>
            <input type="text" value="{{ operacao_info.objetivo_estrategico_operacao|default:'' }}" name="objetivo_estrategico_operacao" id="objetivo_estrategico_operacao" class="form-control" required>
            <p>Campo obrigátorio</p>
          </div>
          </div>
        <div class="box-form-group">
          <div class="form-group">
            <label>Número de Policiais mobilizados </label>
            <input type="number" min="0" value="{{ operacao_info.numero_policiais_mobilizados|default:''}}" name="numero_policiais_mobilizados" id="numero_policiais_mobilizados" class="form-control" required>
            <p>Campo obrigátorio</p>
          </div>
          <div class="form-group">
            <label>Número de Guarnições mobilizadas</label>
            <input type="number" min="0" value="{{ operacao_info.numero_guarnicoes_mobilizadas }}" name="numero_guarnicoes_mobilizadas" id="numero_guarnicoes_mobilizadas" class="form-control" required>
            <p>Campo obrigátorio</p>
          </div>
        </div>
      </form>
      <div class="btns-forms">
        <div class="btns-forms">
          <a href="{% url 'operations:form-info-operation-page-one' form_uuid %}">
            <button type="submit" class="btn-previus">Anterior</button>
          </a>
        </div>
          <button type="submit" class="btn-next" onclick="submitFormInfo(event);">Proxímo</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
toggleOrdemOperacoesField();
const FORWARD_URL = '/operacoes/cadastro/informacoes/resultado/';
const API_URL = '/v1/operacoes/cria-informacoes-operacionais-parte-2/';
const FORM_VAR_LIST = {
    "tipo_operacao": "#tipo_operacao",
    "tipo_acao_repressiva": "#tipo_acao_repressiva",
    "numero_ordem_operacoes": "#numero_ordem_operacoes",
    "objetivo_estrategico_operacao": "#objetivo_estrategico_operacao",
    "numero_guarnicoes_mobilizadas": "#numero_guarnicoes_mobilizadas",
    "numero_policiais_mobilizados": "#numero_policiais_mobilizados"
};

function toggleOrdemOperacoesField(){
    tipoOperacaoField = document.querySelector("#tipo_operacao");
    ordemOperacoesField = document.querySelector("#numero_ordem_operacoes");
    if(tipoOperacaoField.value == "Em") {
        ordemOperacoesField.disabled = true;
        ordemOperacoesField.classList.add("input-disabled");
    }else {
        ordemOperacoesField.disabled = false;
        ordemOperacoesField.classList.remove("input-disabled");
    }
}

</script>

{% endblock extra_js %}