{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro de Operaçãoes</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
  <div class="main-page-form">
    <div class="header-form">
      <div class="text-header-form">
        <span>Cadastro de Operações</span>
        <p>Informações Gerais</p>
      </div>
      <div>
        <div class="progressbar-text">
        <p>Informações Gerais</p>
        <p>ADPF 635</p>
        <p>Informações Operacionais 1/1</p>
        <p>Informações Operacionais 1/2</p>
        <p>Informações de Resultado</p>
        <p>Informações da Ocorrência 1/1</p>
        <p>Informações da Ocorrência 1/2</p>
        <p>Finalizar cadastro</p>
        </div>
        <progress  max="100" value="0" id="progressbar"></progress>
        <ul class="progressbar">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
      </div>
    </div>
    <div class="form-main">
      <form action="/" id="main-form"   method="post" enctype="multipart/form-data">
          <input type="hidden" id="form_uuid" value="{{ form_uuid }}" >
        <div class="box-form-group">
          <div class="">
            <label for="name">Justificativa da excepcionalidade da operação</label>
            <input type="text" id="justificativa_excepcionalidade_operacao" value={{ operacao_info.justificativa_excepcionalidade_operacao|default:"''" }} name="justificativa_excepcionalidade_operacao" required>
          </div>
        </div>
        <div class="box-form-group">
          <div class="">
            <label for="name">Análise de riscos e medidas de controles de danos colaterais das operações e de disparos de confrontos</label>
            <input type="text" id="descricao_analise_risco" value={{ operacao_info.descricao_analise_risco|default:"''" }} name="descricao_analise_risco" required>
          </div>
        </div>
      </form>
      <div class="btns-forms">
          <button type="submit" class="btn-next" onclick="submitFormInfo(event);">Próximo</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
      <script src="{% static 'js/informacoes_gerais.js' %}"></script>
{% endblock extra_js %}