{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Página inicial</title>{% endblock title %}

{% block content %}
<div class="main-initial-page">
    <h2>O que é o Painel Gerencial de Operações?</h2>
    <h4>Aqui é onde as informações referentes as operações devem ser cadastradas</h4>
    <div class="info-initial-page">
        <div class="dados-initial-page">
            <img src="{% static "img/image.png" %}" alt="logo-chart">
            <span>Qual a utilidade?</span>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="dados-initial-page">
            <img src="{% static "img/image.png" %}" alt="logo-chart">
            <span>Como funciona?</span>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="dados-initial-page">
            <img src="{% static "img/image.png" %}" alt="logo-chart">
            <span>Transparência nos dados?</span>
            <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="dados-initial-page">
            <img src="{% static "img/image.png" %}" alt="logo-chart">
            <span>Repositório de dados?</span>
            <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.</p>
        </div>
    </div>
    <h2>Últimas operações</h2>
    <h4>Aqui é onde as informações referentes as operações devem ser cadastradas</h4>
    <div class="info-initial-page">
        <div class="maps-initial-page">
            <img src="{% static "img/mapa.png" %}" alt="logo-chart">
            <div class="texts-initial-page-main">
                <div class="texts-initial-page">
                    <span>Operação:</span>
                    <p>Missão tal</p>
                </div>
                <div class="texts-initial-page">
                    <span>Data:</span>
                    <p>11/02/2020</p>
                </div>
                <div class="texts-initial-page">
                    <span>Responsável:</span>
                    <p>Fulano de tal</p>
                </div>
            </div>
        </div>
        <div class="maps-initial-page">
            <img src="{% static "img/mapa.png" %}" alt="logo-chart">
            <div class="texts-initial-page-main">
                <div class="texts-initial-page">
                    <span>Operação:</span>
                    <p>Missão tal</p>
                </div>
                <div class="texts-initial-page">
                    <span>Data:</span>
                    <p>11/02/2020</p>
                </div>
                <div class="texts-initial-page">
                    <span>Responsável:</span>
                    <p>Fulano de tal</p>
                </div>
            </div>
        </div>
        <div class="maps-initial-page">
            <img src="{% static "img/mapa.png" %}" alt="logo-chart">
            <div class="texts-initial-page-main">
                <div class="texts-initial-page">
                    <span>Operação:</span>
                    <p>Missão tal</p>
                </div>
                <div class="texts-initial-page">
                    <span>Data:</span>
                    <p>11/02/2020</p>
                </div>
                <div class="texts-initial-page">
                    <span>Responsável:</span>
                    <p>Fulano de tal</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}