{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Página inicial</title>{% endblock title %}

{% block content %}
<div class="main-initial-page">
    <h2>O que é o Painel Gerencial de Operações?</h2>
    <div class="maps-initial-page">
        <img src="{% static "img/bg-inicial-page.png" %}" alt="logo-chart">
    </div>
    <div class="info-initial-page">
        <div class="dados-initial-page">
            <img src="{% static "img/Grupo-539.png" %}" alt="logo-chart">
            <span>Qual a utilidade?</span>
            <p>Para a polícia o sistema servira para facilitar a comunicação e notificação de
                operações ao MPRJ, bem como visualiza-las em lista para gerir atividades. Para o MPRJ, o sistema serve
                para tomar ciência das operações. Em última análise, o sistema auxilia no cumprimento de diversas
                obrigações legais e decorrentes de decisões judiciais.</p>
        </div>
        <div class="dados-initial-page">
            <img src="{% static "img/interface.png" %}" alt="logo-chart">
            <span>Como funciona?</span>
            <p>É um sistema de interface simples em que a polícia poderá cadastrar operações e
                visualiza-las em lista. Uma operação cadastrada poderá ter os dados atualizados ou corrigidos em momento
                posterior ao cadastro. Para isso, basta acessar lista de operações e utilizar o formulário para
                correção.</p>
        </div>
        <div class="dados-initial-page">
            <img src="{% static "img/team.png" %}" alt="logo-chart">
            <span>Transparência nos dados?</span>
            <p>Por ser uma plataforma compartilhada, as partes que a utilizam sabem o que todos os
                usuários veem, promovendo a equidade e transparência com relação as informações de operações fornecidas
                pela polícia.</p>
        </div>
        <div class="dados-initial-page">
            <img src="{% static "img/database-server.png" %}" alt="logo-chart">
            <span>Repositório de dados?</span>
            <p>Para além da transparência, o sistema se destina a ser um repositório de dados de
                operação, permitindo a construção de inteligência sobre os fatos. Desde uma perspectiva de ciência de
                dados, é possível a elaboração de análises qualificadas no futuro.</p>
        </div>
    </div>
</div>
{% endblock content %}