{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Página inicial</title>{% endblock title %}

{% block content %}
<div class="main-initial-page">
    <h2>Últimas operações cadastradas</h2>
    <p>Aqui é onde as informações referentes as operações devem ser cadastradas</p>
    <div class="info-initial-page">
        <div class="maps-initial-page" style="background-color: #F8F8F8">
            <img src="{% static "img/mapa.png" %}" alt="logo-chart">
            <div class="texts-initial-page-main">
                <div class="texts-initial-page">
                    <span>Operação:</span>
                    <p>Missão tal</p>
                </div>
                <div class="texts-initial-page">
                    <span>Data:</span>
                    <p>11/02/2020</p>
                </div>
                <div class="texts-initial-page">
                    <span>Responsável:</span>
                    <p>Fulano de tal</p>
                </div>
            </div>
        </div>
        <div class="maps-initial-page" style="background-color: #F8F8F8">
            <img src="{% static "img/mapa.png" %}" alt="logo-chart">
            <div class="texts-initial-page-main">
                <div class="texts-initial-page">
                    <span>Operação:</span>
                    <p>Missão tal</p>
                </div>
                <div class="texts-initial-page">
                    <span>Data:</span>
                    <p>11/02/2020</p>
                </div>
                <div class="texts-initial-page">
                    <span>Responsável:</span>
                    <p>Fulano de tal</p>
                </div>
            </div>
        </div>
        <div class="maps-initial-page" style="background-color: #F8F8F8">
            <img src="{% static "img/mapa.png" %}" alt="logo-chart">
            <div class="texts-initial-page-main">
                <div class="texts-initial-page">
                    <span>Operação:</span>
                    <p>Missão tal</p>
                </div>
                <div class="texts-initial-page">
                    <span>Data:</span>
                    <p>11/02/2020</p>
                </div>
                <div class="texts-initial-page">
                    <span>Responsável:</span>
                    <p>Fulano de tal</p>
                </div>
            </div>
        </div>
        <div class="table-list">
            <h2>Lista de operações</h2>
            <p>Aqui é onde as informações referentes as operações devem ser cadastradas</p>
            <table>
                <tr>
                    <th>Operação</th>
                    <th>Data</th>
                    <th>Responsável</th>
                    <th>Local</th>
                </tr>
                {% for info_operacao in object_list %}
                    <tr>
                        <td>
                            <a
                                target=_blank
                                href="{% url 'operations:form-update' info_operacao.operacao.identificador %}">
                                Missão tal
                            </a>
                        </td>
                        <td>{{ info_operacao.data }}</td>
                        <td>{{ info_operacao.batalhao_responsavel }}</td>
                        <td>{{ info_operacao.bairro }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}