{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Página inicial</title>{% endblock title %}

{% block content %}
<div class="main-initial-page">
        <div class="table-list">
            <h2>Lista de operações</h2>
            <h4>Aqui é onde se encontra as informações referentes as operações cadastradas e pode editá-las.</h4>
            <table>
                <tr>
                    <th>Operação</th>
                    <th>Data</th>
                    <th>Responsável</th>
                    <th>Local</th>
                </tr>
                {% for info_operacao in object_list %}
                    <tr>
                        <td>
                            <a
                                target=_blank
                                href="{% url 'operations:form-update' info_operacao.identificador %}">
                                Missão tal
                            </a>
                        </td>
                        <td>{{ info_operacao.data }}</td>
                        <td>{{ info_operacao.batalhao_responsavel }}</td>
                        <td>{{ info_operacao.bairro }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
{% if page_obj.has_other_pages %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
       <li class="disabled"><span>&raquo;</span></li>
       {% endif %}
      </ul>
{% endif %}
    </div>
</div>
{% endblock content %}