{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Página inicial</title>{% endblock title %}

{% block content %}
<div class="main-initial-page">
        <div class="table-list">
            <h2>Lista de operações</h2>
            <h4>Aqui é onde se encontra as informações referentes as operações cadastradas e pode editá-las.</h4>
            <table>
                <tr>
                    <th>Tipo Ação Repressiva</th>
                    <th>Data</th>
                    <th>Batalhão</th>
                    <th>Local</th>
                </tr>
                {% for info_operacao in object_list %}
                <tr class="tr-lista-operacao" onclick="openOperacao('{% url 'operations:form-update' info_operacao.identificador %}');">
                        <td>{{ info_operacao.get_tipo_acao_repressiva_display|default:'' }}</td>
                        <td>{{ info_operacao.data }}</td>
                        <td>{{ info_operacao.batalhao_responsavel }}; {{ info_operacao.unidade_apoiadora }}</td>
                        <td>{{ info_operacao.bairro }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
{% if page_obj.has_other_pages %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><strong>&laquo;</strong></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><strong>{{ i }} <strong class="sr-only"></strong></strong></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
       <li class="disabled"><strong>&raquo;</strong></li>
       {% endif %}
      </ul>
{% endif %}
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
function openOperacao(url){
    let win = window.open(url, '_blank');
    win.focus();
}
</script>
{% endblock extra_js %}