{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Página inicial</title>{% endblock title %}

{% block content %}
<div class="main-initial-page">
    <h2>Painel de Operações</h2>
    <p>Aqui é onde as informações referentes as operações devem ser cadastradas</p>
    <div class="info-initial-page">
        <div class="container">
            <ul class="progressbar">
                <li class="active">login</li>
                <li>choose interest</li>
                <li>add friends</li>
                <li>View map</li>
            </ul>
        </div>
    </div>
{% endblock content %}