{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Potenza - Job Application Form Wizard with Resume upload and Branch feature">
  <meta name="author" content="Ansonika">
  {% block title %}{% endblock title %}

  <!-- GOOGLE WEB FONT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap" rel="stylesheet">
  <!-- BASE CSS -->
  <!--<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
  </script>
  {% block extra_head %}
  {% endblock extra_head %}

</head>

<body>
  {% block sidenavebar %}
  <div class="main-page">
    <div class="navbarLeft">
      <img class="navbarLeft-img-logo" src="{% static "img/logo.png" %}" type="images/png" alt="logo-panel">
      <div class="navbarLeft-list">
        <ul>
          <li>
            <img src="{% static "img/chart.png" %}" alt="logo-chart">
            Pagina Inicial
            </a>
          </li>
          <li>
            <img src="{% static "img/align-left.png" %}" alt="logo">
            Lista de operações
          </li>
          <li>
            <img src="{% static "img/chart.png" %}" alt="logo">
            Cadastrar Operação
          </li>
          <li>
            <img src="{% static "img/chart.png" %}" alt="logo">
            Painel
          </li>
        </ul>
      </div>
    </div>
    {% endblock sidenavebar %}

    {% block content %}
    {% endblock content %}
  </div>

  {% block extra_js %}
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock extra_js %}
</body>